{{ form_start(form) }}

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_label(form.name, 'Nom de l\'évênement') }} 
            {{ form_widget(form.name) }}
            </br>
            {{ form_label(form.city, 'Ville') }} 
            {{ form_widget(form.city) }}
            </br>
            {{ form_label(form.type, 'Nature de l\'épreuve') }}
            {{ form_widget(form.type) }}

        </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>

    {# {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}
