{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Course sélectionnée</h1>

    <a class="btn btn-outline-primary btn-lg compare-button" href="{{ path('race_compare', {'id': race.id}) }}" role="button">Comparer avec une autre édition de cette course</a>


    <div class="card col-4 race-card">
        <img class="card-img-top" src="{{ race.event.type.image }}" alt="Card image type">
        <div class="card-body">
            <h3>{{ race.event.name }}</h3><h6>le {{ race.date|date("d/m/Y") }} à {{ race.event.city }}</h6>
            </br>
            Course : <h5>{{ race.name }}</h5>
            -----------------------
            <div class="race-details">
                <h6><strong>Détails de la course :</strong></h6>
                <ul>
                    {% if race.event.type.name != "Triathlon" %}
                        <li>Distance totale : {{ race.totalDistance?race.totalDistance:"/" }} km</li>
                    {% endif %}

                    {% if race.event.type.name == "Triathlon" %}
                        <li>Distance natation : {{ race.swimDistance?race.swimDistance:"/" }} m</li>
                        <li>Distance vélo : {{ race.bikeDistance?race.bikeDistance:"/" }} km</li>
                        <li>Distance course à pied : {{ race.runDistance?race.runDistance:"/" }} km</li>
                    {% endif %}

                    <li>Temps total : {{ race.totalTime?race.totalTime|date('H:i:s'):"/" }}</li>

                    {% if race.event.type.name == "Triathlon" %}
                        <li>Temps natation : {{ race.swimTime?race.swimTime|date('H:i:s'):"/" }}</li>
                        <li>Temps vélo : {{ race.bikeTime?race.bikeTime|date('H:i:s'):"/" }}</li>
                        <li>Temps course à pied : {{ race.runTime?race.runTime|date('H:i:s'):"/" }}</li>
                    {% endif %}

                    {% if race.event.type.name == "Trail" %}
                        <li>Dénivelé positif : {{ race.verticalGain?race.verticalGain:"/" }} m</li>
                    {% endif %}
                    </br> 
                    <li>Prix de l'inscription : {{ race.price }}€</li>
                </ul>
            </div>
            -----------------------
            <div class="race-result">
                <p><strong>Résultat :</strong></p>
                <ul>
                    <li><strong>Classement général : {{ race.ranking }}</strong> / {{ race.totalFinisher }}</li>
                    <li>Pourcentage de finishers : {{ race.percentFinisher }} %</li>
                </ul>
            </div>
            {% if race.comment %}
                -----------------------
                <div class="race-comment">
                    <p><strong>Commentaire :</strong></p>
                    <p>{{ race.comment }}</p>
                </div>
            {% endif %}
        </div>
    </div>

    <a class="btn btn-warning" href="{{ path('race_edit', {'id': race.id}) }}" role="button">Modifier ces informations</a>
    <a class="btn btn-success" href="{{ path('user_show', {'id' : race.user.id }) }}" role="button">Retour à la liste de vos courses</a>

    {{ include('race/_delete_form.html.twig') }}
{% endblock %}
