{{ form_start(form) }}

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_label(form.firstname, 'Prénom') }} 
            {{ form_widget(form.firstname) }}
            </br>
            {{ form_label(form.lastname, 'Nom') }} 
            {{ form_widget(form.lastname) }}
            </br>
            {{ form_label(form.picture, 'Photo') }} 
            {{ form_widget(form.picture) }}
            </br>
            {{ form_label(form.email, 'Email') }} 
            {{ form_widget(form.email) }}
            </br>
            {{ form_label(form.password, 'Si vous souhaitez protéger votre compte, saisissez un mot de passe') }} 
            {{ form_widget(form.password) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
