{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div id='welcome'></div>
    <div class="main-title"> 
        <h1>Bienvenue ami sportif !!</h1>
        <p>Tu vas pouvoir enregistrer les résultats de toutes les courses que tu as fait.</br>Tu pourras ainsi vérifier tes classements, voir ton évolution
        d'une année à l'autre, te mesurer aux autres sportifs inscrits...</p>
    </div>

    <p>Si tu n'as pas encore de compte, tu peux en créer un <a href="{{ path('user_new') }}">ici.</a></p>


    <p>Sinon, voici tous les sportifs déjà inscris</p>

    <div class="container">
        <div class="row justify-content-between">
            {% for user in users %}
                <div class="card col-4-sm bg-secondary" style="width: 18rem;">
                    <a class="dropdown-item mt-4" href="{{ path('user_show', {'id' : user.id }) }}">
                        <img class="card-img-top" src="{{ user.picture }}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-text text-center">{{ user.firstname }}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('resultat-react') }}
{% endblock %}

