{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <h1>Bienvenue {{ user.firstname }}</h1>

    <div id='user'></div>
    </br>
    <a class="btn btn-success" href="{{ path('race_new', {'id': user.id}) }}" role="button">Ajouter un nouveau résultat</a>
    </br>


    <div class="row races">
        {% for race in user.races %}
            <div class="card col-4 race-card">
                <img class="card-img-top" src="{{ race.event.type.image }}" alt="Card image type">
                <div class="card-body">
                    <h3>{{ race.event.name }}</h3><h6>le {{ race.date|date("d/m/Y") }} à {{ race.event.city }}</h6>
                    </br>
                    Course : <h5>{{ race.name }}</h5>
                    -----------------------
                    <div class="race-result">
                        <p><strong>Résultat :</strong></p>
                        <ul>
                            <li><strong>Classement général : {{ race.ranking }}</strong> / {{ race.totalFinisher }}</li>
                        </ul>
                    </div>
                    <a class="btn btn-outline-secondary" href="{{ path('race_show', {'id' : race.id }) }}" role="button">Voir les détails de la course</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <a class="btn btn-success" href="{{ path('race_new', {'id': user.id}) }}" role="button">Ajouter un nouveau résultat</a>
    </br>
    <a href="{{ path('user_index') }}">Retour à l'accueil</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}

{# block commenté parce que ça pète mon dropdown
{% block javascripts %}
    {{ encore_entry_script_tags('user-react') }}
{% endblock %} #}

